<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lines.sql.dao.UserDao">
    <select id="selectUsers" parameterType="com.lines.sql.model.UserDTO" resultType="com.lines.sql.model.UserDTO">
        SELECT 100 as seq,
               'test' as name,
               'korea' country
          FROM DUAL
    </select>
</mapper>
